.wrapper
  .account-page.account-page
    .account-page__inner.clearfix
      .account-page__inner--left.account-page__header
        %h2= image_tag "Clothing.png", width: "100%"
        %h5 アカウントの編集
        
      .account-page__inner--right.user-form
        = form_for(current_user) do |f|
          .field
            .field-label
              = f.label :nickname
              %i (14文字以内)
            .field-input
              = f.text_field :nickname, autofocus: true, required: true, maxlength: '14'
          .field
            .field-label
              = f.label :email
            .field-input
              = f.email_field :email
          .actions
            = f.submit "更新", class: 'btn'
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn-exit'
            = link_to "トップページに戻る", root_path, class: 'btn-back'
