.footer
  .footer__image
    .footer__image--name 読んだ漫画を管理しよう。
  .footer__content
    %span.footer__content--text リンク
    .footer__content--icon
      = link_to "https://twitter.com/explore" do
        = icon('fab', 'twitter-square')
      = link_to "https://www.facebook.com/" do
        = icon('fab', 'facebook-square')
      = link_to "https://www.amazon.co.jp/" do
        = icon('fab', 'amazon')
      = link_to "https://www.youtube.com/" do
        = icon('fab', 'youtube')