.footer
  .footer__image
    .footer__image--name 読んだ漫画を管理しよう。
  .footer__content
    %span.footer__content--text リンク
    .footer__content--icon
      = link_to "https://twitter.com/explore", target: :_blank do
        = icon('fab', 'twitter-square')
      = link_to "https://www.facebook.com/", target: :_blank do
        = icon('fab', 'facebook-square')
      = link_to "https://www.amazon.co.jp/", target: :_blank do
        = icon('fab', 'amazon')
      = link_to "https://www.youtube.com/", target: :_blank do
        = icon('fab', 'youtube')