.header
  .top-box
    .top-box__title
      = link_to root_path do
        comicrage
    = form_with(url: books_searches_path, local: true, method: :get) do |f|
      .top-box__form
        = f.text_field :title_key, class: 'top-box__form__input', placeholder: "タイトルを入力してください"
        = f.submit "検索", class: "top-box__form__search"
  .bottom-box
    .bottom-box__category
      .bottom-box__category__mark
        = icon('fas', 'list', class: 'icon')
        カテゴリ
    .bottom-box__icon
      .bottom-box__icon__btn
        = link_to edit_user_path(current_user) do
          = icon('far', 'user-circle', class: 'icon')
      .bottom-box__icon__user
        = current_user.nikename