.swiper-container
  .swiper-wrapper
    .swiper-slide
      = link_to "https://www.mercari.com/jp/", target: :_blank do
        = image_tag "mercari.png"
    .swiper-slide
      = link_to "https://www.comico.jp/", target: :_blank do
        = image_tag "comico.jpg"
    .swiper-slide
      = link_to "https://manga.line.me/", target: :_blank do
        = image_tag "line.png"
  .swiper-pagination.swiper-pagination-white
  .swiper-button-prev.swiper-button-white
  .swiper-button-next.swiper-button-white
:javascript
    var swiper = new Swiper('.swiper-container', {
    navigation: {
      prevEl: '.swiper-button-prev', 
      nextEl: '.swiper-button-next', 
    },
    effect: 'slide',
    effect: 'fade',
    effect: 'coverflow',
    loop: true,
    speed: 1000,
    pagination: {
      el: '.swiper-pagination',
      type: 'bullets',
      clickable: true,
    },
    autoplay: {
      delay: 2000,
      disableOnInteraction: false
    },
  });