
.wrapper
  = render partial: "header", locals: { book: @book }
  = render partial: "swiper", locals: { book: @book }
  .contents
    .contents-name
      .contents-name__box 登録タイトル一覧
      .contents-name__stock
        = "総冊数：#{current_user.books.sum(:stock)} 冊"
    .lists
      - @books.each do |book|
        .lists__box
          = link_to book_path(book.id) do
            .lists__box__image
              - if book.image.present?
                = image_tag book.image.url
              - else
                = image_tag 'no_image.png'
            .lists__box__title
              = book.title
    = paginate(@books)
  = render partial: "new", locals: { book: @book }
  = render partial: "footer", locals: { book: @book }