
.wrapper
  .header
    .top-box
      .top-box__title
        = link_to root_path do
          comicrage
      %form.top-box__form
        %input{type: "text", class: "top-box__form__input", placeholder: "タイトルを入力してください"}
    .bottom-box
      .bottom-box__category
        .bottom-box__category__mark
          = icon('fas', 'list', class: 'icon')
          カテゴリ
      .bottom-box__icon
        .bottom-box__icon__btn
          = link_to edit_user_path(current_user) do
            = icon('far', 'user-circle', class: 'icon')
        .bottom-box__icon__user
          = current_user.nikename
  .contents
    .contents-name
      .contents-name__box
        コミック一覧
    .lists
      - @books.each do |book|
        .lists__box
          .lists__box__title
            = link_to book_path(book) do
              = book.title
  .new
    = link_to new_book_path(@book) do
      .new__btn
        =icon('fas', 'plus')