.wrapper
  = render partial: "header", locals: { book: @book }
  .contents-row
    .container
      = form_for(@book)do |f|
        .container__info
          .preview__image(onclick="$('input[id=book_img]').click();")
            - if @book.image.present?
              = image_tag @book, id: :img_prev
            - else
              = image_tag 'no_image.png', id: :img_prev
          .register
            %h3 登録
            .register__title
              = f.label :title do
                .register__title--box
                  .ThemeNeme タイトル
                  %span.ThemeNeme__title 必須
                = f.text_field :title, placeholder: "タイトルを入力してください", class: 'register__title__name'
            .register__writer
              = f.label :writer do
                .ThemeNeme 漫画家名
                = f.text_field :writer, placeholder: "作家名を入力してください", class: 'register__writer__pen'
            .listing-form-box
              .listing-product-detail__category
                = f.label '出版社 / 雑誌', class: 'listing-default__label'
                %span.listing-default--require 必須
                .listing-select-wrapper
                  .listing-select-wrapper__box
                    = f.select :category_id, @category_parent_array, {}, {class: 'listing-select-wrapper__box--select', id: 'parent_category', name: "book[category_id]"}
            .register__price
              = f.label :price do
                .ThemeNeme 通常価格
                = f.number_field :price, class: 'register__price__money'
                円
            .register__stock
              = f.label :stock do
                .ThemeNeme 冊数
                = f.number_field :stock, class: 'register__stock__volume'
                冊
            .register__image
              = f.label :image do
                .ThemeNeme 画像
                = f.file_field :image, id: :book_img, class: 'register__image__file', style: "display: none"
            = f.label :remove_image do
              = f.check_box :remove_image
              = "画像を削除する"
        .container__memo
          .register__comment
            = f.label :comment do
              .ThemeNeme 作品内容
              = f.text_area :comment, placeholder: "内容を入力してください", class: 'register__comment__message'
        .container__submit
          = f.submit "登録", class: 'container__submit__btn'
  = render partial: "footer", locals: { book: @book }