.wrapper
  = render partial: "header", locals: { book: @book }
  .main-box
    .books
      .book-image
        - if @book.image.present?
          = image_tag @book.image.url
        - else
          = image_tag 'no_image.png'
      .book-info
        .book-info__title
          = @book.title
        %table.book-info__tab
          %tr
            %th 漫画家名
            %td
              = @book.writer
          %tr
            %th 雑誌名
            %td 
              = "#{@book.category.parent.company} / #{@book.category.company}"
          %tr
            %th 通常価格
            %td
              ¥
              = @book.price
          %tr
            %th 冊数
            %td 
              = @book.stock
              冊
    %h2.book-theme 作品内容
    .book-comment
      .book-comment__memo
        = simple_format @book.comment
    .book-icon
      = link_to edit_book_path(@book) do
        .book-icon__edit 編集
      = link_to book_path(@book), method: :delete, data: {confirm: '本当に削除しますか？'} do
        .book-icon__delete 削除
  = render partial: "footer", locals: { book: @book }