.wrapper
  = render partial: "header", locals: { book: @book }
  .book-title
    = @book.title
  .book-image
    = image_tag @book.image.url, :size =>'400x400' if @book.image.present?
  .book-comment
    = simple_format @book.comment
  .book-edit
    = link_to edit_book_path(@book) do
      編集
  .book-delete
    = link_to book_path(@book), method: :delete do
      削除