.wrapper
  = render partial: "header", locals: { book: @book }
  .main-box
    .books
      .book-image
        - if @book.image.present?
          = image_tag @book.image.url
        - else
          = image_tag asset_path('no_image.png')
      .book-info
        .book-info__title
          = @book.title
        %table.book-info__tab
          %tr
            %th 漫画家名
            %td= @book.writer
          %tr
            %th 雑誌名
            %td= "#{@book.category.parent.company} / #{@book.category.company}"
          %tr
            %th 通常価格
            %td= number_to_currency(@book.price, :unit => "¥", :precision => 0)
          %tr
            %th 冊数
            %td= "#{@book.stock}冊"
    %h2.book-theme 作品内容
    .book-comment
      .book-comment__memo
        = safe_join(@book.comment.split("\n"),tag(:br))
    .book-icon
      = link_to edit_book_path(@book) do
        .book-icon__edit 編集
      %button.book-icon__delete#modal-open-btn 削除
      = link_to "", book_path(@book), method: :delete, id: 'item-delete-btn'
      #overlay
        #modalWindow
          .modal-message-box
            %i.fas.fa-exclamation-circle
            .modal-message-box__theme="本当に#{@book.title}を削除しますか？"
          %button#modal-close-btn キャンセル
          %button#delete-comformation-btn 削除する
  = render partial: "footer", locals: { book: @book }