
.wrapper
  .header
    .left-box
      .left-box__title
        = link_to root_path do
          comicrage
    .right-box
      = form_with(url: books_searches_path, local: true, method: :get) do |f|
        .right-box__form
          = f.text_field :title_key, class: 'right-box__form__input', placeholder: "タイトルを入力してください"
          = button_tag type: 'submit', class: "right-box__form__search" do
            = icon('fas', 'search')
      .right-box__info
        .right-box__info__category
          .right-box__info__category__mark
            = icon('fas', 'list', class: 'icon')
            カテゴリ
        .right-box__info__icon
          .right-box__info__icon__btn
            = link_to edit_user_path(current_user) do
              = icon('far', 'user-circle')
          .right-box__info__icon__user
            = current_user.nikename
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        = image_tag "sample.jpg"
      .swiper-slide
        = image_tag "sample1.jpg"
      .swiper-slide
        = image_tag "sample2.jpg"
    .swiper-pagination.swiper-pagination-white
    .swiper-button-prev.swiper-button-white
    .swiper-button-next.swiper-button-white
  :javascript
      var swiper = new Swiper('.swiper-container', {
      navigation: {
        prevEl: '.swiper-button-prev', //左側にあるこれ「＜」
        nextEl: '.swiper-button-next', //右側にあるこれ「＞」
      },
      effect: 'slide',
      effect: 'fade',
      effect: 'coverflow',
      loop: true, //画像のループの有無
      speed: 1000, //スライドするスピード
      pagination: { //ページネーションの種類
        el: '.swiper-pagination',
        type: 'bullets',
        clickable: true, //クリック判定の有無
      },
      autoplay: { //自動スライド
        delay: 2000, //３秒ごとに
        disableOnInteraction: false
      },
    });
  .contents
    .contents-name
      .contents-name__box 検索結果一覧
      .contents-name__stock
        = "総冊数：#{@books.sum(:stock)} 冊"
    .lists
      - @books.each do |book|
        .lists__box
          = link_to book_path(book.id) do
            .lists__box__image
              - if book.image.present?
                = image_tag book.image.url
              - else
                = image_tag 'no_image.png'
            .lists__box__title
              = book.title
  .new
    = link_to new_book_path(@book) do
      .new__btn
        =icon('fas', 'plus')