.wrapper
  = render partial: "/books/header", locals: { book: @book }
  .contents
    .contents-name
      .contents-name__box 出版社一覧
      .contents-name__stock
        = "総冊数：#{current_user.books.sum(:stock)} 冊"
    .company
      - @parents.each do |parent|
        .company__box
          %ul
            = parent.company
          %li.company__box__sub
            - parent.children.each do |child|
              = link_to category_path(child.id) do
                = child.company
  = render partial: "/books/new", locals: { book: @book }
  = render partial: "/books/footer", locals: { book: @book }